/* :root{
  font-family: Arial;
} */


*{
  margin: 0%;
  padding: 0%;
  /* font-family: monospace; */
}

body::-webkit-scrollbar {
  display: none;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .nav-link{
  color: white;
} */
/* .nav-link:hover{
  color: burlywood !important;
} */

.header-bg{
  background-color: #ff8c00c9;
}

.content{
  backdrop-filter: blur(8px);
  /* background-color: hsl(33, 100%, 50%); */
}


::-webkit-scrollbar { /* Webkit */
  width: 0;
  height: 0;
}


.container{
  display: flex;
  overflow: hidden;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@font-face {
  font-family: devanagari;
  src: url("../public/TiroDevanagariMarathi-Italic.ttf");
}

.devanagari-font{
  font-family: devanagari;
}


@font-face {
  font-family: greatvibes;
  src: url("../public/GreatVibes-Regular.ttf");
}

.greatvibes-font{
  font-family: greatvibes;
}


@font-face {
  font-family: dancingscript;
  src: url("../public/DancingScript-Bold.ttf");
}

.dancingscript-font{
  font-family: dancingscript;
}

.clickable-element {
  cursor: pointer; /* This changes the cursor to a hand on hover */
  /* Add other styles as needed */
}
